<!doctype html>
<html ng-app="hangman">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>


 

<div ng-controller="HangmanController" id="content">

    <div class="game-over" ng-show="model.end" ng-click="start()"></div>
    <div class="word" >
        <label ng-show="model.wrong" for="char">You missed !</label>
        <label ng-hide="model.wrong" for="char"></label>
        <p>{{model.data}}</p>
    </div>

    <ul>
        <li ng-repeat="char in model.length">
            {{}}
        </li>
    </ul>
    <ul ng-bind-html="getHtml(model.html)">

    </ul>

    <div class="form-group">
        <input type="text" placeholder="Type char" class="form-control" id="char" ng-keyup="onKeyUp($event)" ng-model="model.clear">
    </div>

    <div class="images">
        <div class="bar"></div>
        <div class="folk" ng-repeat="part in model.flow">
            <div class="{{part}}"></div>
        </div>
    </div>

    <div id="triangle"></div>
</div>


</body>
</html>