html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3b4163;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#content {
  width: 80%;
  margin: auto;
  background-color: white;
  height: 70%;
  align-content: center;
  align-items: center;
  text-align: center;
  top: 10%;
  left: 10%;
  border-radius: 10px;
}

#content #triangle {
  width: 0;
  height: 0;
  border-bottom: 300px solid #4d69fa;
  border-left: 300px solid transparent;
  position: absolute;
  bottom: 13.7%;
  right: 10%;
}

.bar:before {
  content: url("images/bar-small.png");
  position: absolute;
  top: 18%;
  left: 10%;
}

.head-folk:before {
  content: url("images/head.png");
  position: absolute;
  top: 23%;
  left: 16%;
  z-index: 3;
}

.corpus-folk:before {
  content: url("images/corpus.png");
  position: absolute;
  top: 47%;
  left: 18%;
  z-index: 2;
}

.neck-folk:before {
  position: absolute;
  content: url("images/neck.png");
  top: 44%;
  left: 19.5%;
  z-index: 2;
}

.left-arm:before {
  content: url("images/left-arm.png");
  position: absolute;
  top: 47%;
  left: 14%;
  z-index: 1;
}

.right-arm:before {
  position: absolute;
  top: 47%;
  left: 21%;
  content: url("images/right-arm.png");
  z-index: 1;
}

.left-hand:before {
  content: url("images/left-hand.png");
  position: absolute;
  top: 57%;
  left: 14%;
}

.right-hand:before {
  content: url("images/right-hand.png");
  position: absolute;
  top: 57%;
  left: 26%;
}

.left-leg:before {
  content: url("images/left-leg.png");
  position: absolute;
  top: 60%;
  left: 16.5%;
  z-index: 1;
}

.right-leg:before {
  content: url("images/right-leg.png");
  position: absolute;
  top: 60%;
  left: 21%;
  z-index: 1;
}

.left-foot:before {
  content: url("images/left-foot.png");
  position: absolute;
  top: 76%;
  left: 14%;
}

.right-foot:before {
  content: url("images/left-foot.png");
  position: absolute;
  top: 76%;
  left: 23%;
  transform: rotate(-15deg);
}

.word {
  color: #4d71fa;
  font-size: 3.5em;
  margin: 10% 15% 10% 0;
  letter-spacing: 10px;
  font-weight: 600;
  text-align: right;
}

li, .properly {
  background-color: #e6e6e7;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  text-align: center;
  font-size: 3em;
  color: white;
  margin: 0 2px;
}

.properly {
  background-color: #53555d;
}

ul {
  display: inline-flex;
  list-style: none;
  position: absolute;
  top: 70%;
  left: 30%;
  width: 50%;
}

.form-group {
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  margin: auto;
  width: 15%;
  height: 10%;
}

.form-control {
  font-size: 3em;
  height: 100px;
}

label {
  color: #53555d;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0;
}

.game-over {
  background: url("images/game-over.png") no-repeat center fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #3b4163;
  opacity: 0.8;
  position: absolute;
  top: 0;
  cursor: pointer;
}
